[submodule "themes/after-dark"]
	path = themes/after-dark
	url = https://github.com/comfusion/after-dark.git
[submodule "public"]
	path = public
	url = https://github.com/johnzeringue/johnzeringue.github.io.git
	branch = master
